apiVersion: v1
kind: Service
metadata:
  name: chipp-issues
  labels:
    app: chipp-issues
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
      name: http
  selector:
    app: chipp-issues
