---
layout: layouts/base.njk
---

<div class="doc-container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <h4>Getting Started</h4>
      <ul>
        <li><a href="/getting-started/">Quick Start</a></li>
        <li><a href="/getting-started/installation/">Installation</a></li>
      </ul>

      <h4>API Reference</h4>
      <ul>
        <li><a href="/api/">Overview</a></li>
        <li><a href="/api/authentication/">Authentication</a></li>
        <li><a href="/api/applications/">Applications</a></li>
        <li><a href="/api/chat/">Chat</a></li>
      </ul>
    </nav>
  </aside>

  <article class="doc-content">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>

  {% if toc %}
  <nav class="toc">
    <h4>On this page</h4>
    {{ toc | safe }}
  </nav>
  {% endif %}
</div>
